@import "tailwindcss";

/* 🎨 Your custom design system */
@theme {
  --color-primary: #FF385C;
  --color-dark: #222222;
  --color-light: #F7F7F7;

  --radius-xl2: 1.5rem;

  --shadow-card: 0 4px 20px rgba(0, 0, 0, 0.08);
}